.icon_1{
	width: 44px;
height: 44px;
background-color: #5094f2;
border-radius: 50%;
margin-left: 120px;
margin-top: 30px;
}
.inIcon_1{
	color: #fff;
	font-size: 60px;
	margin: -43px 0 0 127px;
	display: block;

}
.inIcon_2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: -75px 0 0 173px;
font-size: 42.4px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.01em;
color: #000000;
}

.inUpper_1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20.4px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.01em;
color: #6c6c6c;
margin: -30px 0 0 970px;
}
.inUpper_2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20.4px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #6c6c6c;
	margin: -23px 0 0 1050px;
}
.inUpper_3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20.4px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #6c6c6c;
	margin: -23px 0 0 1147px;
}
.inUpper_4 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20.4px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #6c6c6c;
	margin: -24px 0 0 1245px;
}

.fotoo_1{
	margin: 50px 0 0 -10px;
	width: 1520px;
	height: 470px;

}
.fotoo_2{
	margin: -2000px 0 0 240px;
}
.inText_2{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 42.4px;
	line-height: 44px;
	font-weight: 300;
	color: #ffffff;
	margin: -300px 0 0 800px;
	display: block;
}
.InText_2_2{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 26.4px;
	line-height: 44px;
	font-weight: 300;
	color: rgb(255, 255, 255);

}
.buttton{
	width: 172px;
height: 41px;
color: chartreuse;

}
.texxt{
	font-size: 22.4px;
line-height: 44px;
font-weight: 700;
color: #fff;
margin: 20px 0 0 820px;

}

.kolo_1{
width: 186px;
height: 186px;
background-color: #5094f2;
border-radius: 50%;
margin: 110px 0 0 177px;}
.kolo_1_1{
	margin: 40px 0 0 60px;
}
.kolo_2{
	width: 186px;
height: 186px;
background-color: #d94748;
border-radius: 50%;
margin: -186px 0 0 607px;
}
.kolo_1_2{
	margin: 55px 0 0 45px;
}
.kolo_3{
	width: 186px;
height: 186px;
background-color: #ebbb11;
border-radius: 50%;
margin: -186px 0 0 1060px;
}
.kolo_1_3{
	margin:	45px 0 0 45px;
}
.koli_1_1{
	font-size: 20.4px;
line-height: 44px;
font-weight: 400;
color: #5094f2;
margin:  0 0 0 190px;
}
.koli_1_2{
	font-size: 14.4px;
line-height: 1.2;
font-weight: 400;
color: #909090;
margin: 0 0 0 160px;
}
.koli_2_1{
	font-size: 20.4px;
line-height: 44px;
font-weight: 400;
color: #5094f2;
margin:  -80px 0 0 610px;
}
.koli_2_2{
	font-size: 14.4px;
line-height: 1.2;
font-weight: 400;
color: #909090;
margin: 0 0 0 590px;
}
.koli_1_2{
	font-size: 14.4px;
line-height: 1.2;
font-weight: 400;
color: #909090;
margin: 0 0 0 160px;
}
.koli_3_1{
	font-size: 20.4px;
line-height: 44px;
font-weight: 400;
color: #5094f2;
margin:  -78px 0 0 1070px;
}
.koli_3_2{
	font-size: 14.4px;
line-height: 1.2;
font-weight: 400;
color: #909090;
margin: 0 0 0 1040px;
}
.texxt_12{
	font-size: 42.4px;
line-height: 44px;
font-weight: 400;
color: #6f7173;
margin: 100px 0 0 159px;
}
.cart{
	width: 371px;
height: 279px;
margin: 63px 0 0 159px;
}

.textt_1{
	font-size: 35.4px;
line-height: 44px;
font-weight: 400;
color: #6f7173;
margin: -339px 0 0 770px;
}

.texttt_2{
	font-size: 15.4px;
line-height: 36px;
font-weight: 300;
color: #909090;
margin: 20px 0 0 770px;
}
.my{
	font-size: 15.4px;
line-height: 36px;
font-weight: 300;
color: #909090;
text-align: center;
margin: 20px 0 0 0;
}